<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="shortcut icon" href="/assets/dog.svg" type="image/svg" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,600;1,400&family=Archivo:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/global.css" />
    

    <link rel="stylesheet" href="/styles/index.css" />
    <title>Pet Não Se Compra</title>
  </head>
  <body>
    <div class="page-landing">
      <main class="content">
        <section class="page-content">
          <h1>Pet Não Se Compra</h1>

          <h2>Encontre um amiguinho para deixar sua vida melhor!</h2>
          <div class="buttons-container">
            <a href="/find-dog">
              <img src="/assets/dog-button.svg" alt="" />
              Encontre seu pet
            </a>
            <a href="/register-dog">
              <img src="/assets/dog-house.svg" alt="" />
              Cadastre um pet
            </a>
          </div>
        </section>

        <section class="content-img">
          <img src="/assets/teste.svg" alt="" />
        </section>
      </main>
    </div>
    {{!-- <div>Ícones feitos por <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/br/" title="Flaticon">www.flaticon.com</a></div> --}}
  </body>
</html>
